<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath:/leopard/applicationContext.xml" />
	<import resource="classpath:/leopard/applicationContext-log.xml" />


	<context:component-scan base-package="io.leopard.web.userinfo" />
	<context:component-scan base-package="io.leopard.web.xparam" />
	<context:component-scan base-package="io.leopard.web.passport" />
	<context:component-scan base-package="io.leopard.web.frequency" />

	<!-- 拦截器 -->
	<context:component-scan base-package="io.leopard.monitor.interceptor" />

	<bean class="io.leopard.web.mvc.LeopardHandlerMapping" />
	<bean class="io.leopard.web.captcha.SessCaptchaXParam" />

	<bean class="io.leopard.timer.TimerBeanFactoryAware" />


	<import resource="freemarker.xml" />



	<bean id="conversionService" class="io.leopard.web.editor.LeopardFormattingConversionServiceFactoryBean">
		<!-- 自定义数据类型 -->
		<property name="converters">
			<list>
				<bean class="io.leopard.web.editor.OnlyDateConverter" />
				<bean class="io.leopard.web.editor.MonthConverter" />
				<bean class="io.leopard.web.editor.StringToEnumConverterFactory" />
			</list>
		</property>
	</bean>


	<bean id="leopardWebBindingInitializer" class="io.leopard.web.editor.LeopardWebBindingInitializer">
		<property name="conversionService" ref="conversionService" />
	</bean>

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="webBindingInitializer" ref="leopardWebBindingInitializer" />
		<property name="messageConverters">
			<list>
				<bean class="io.leopard.web.mvc.MappingJackson2HttpMessageConverter" />
			</list>
		</property>
		<property name="responseBodyAdvice">
			<list>
				<bean class="io.leopard.web.mvc.MappingJacksonResponseBodyAdvice" />
			</list>
		</property>
	</bean>


	<import resource="classpath:/leopard-mvc-trynb.xml" />


	<import resource="classpath*:/leopard-plugin.xml" />
	<import resource="classpath:/applicationContext.xml" />
	<!-- <import resource="resources.xml" /> -->

</beans>