.content .workplace .head .buttons .isw-tab{color:#fff;font-size: 12px;font-weight: bold;}


.two-column li{display: block; float:left; width:60px;border-top: 1px solid #507298; border-bottom: 1px solid #143D6B;}






#hourList{position: absolute; top: 37px;right:240px; z-index: 3; width: 400px; background-color: #FFFFFF; 
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.35); display: none;}
        #hourList .head{background: url("file.leo?f=img/styles/default/backgrounds/box-head.jpg") left top repeat-x; background-clip: padding-box; position: relative;}
            #hourList .head .arrow{position: absolute; left: -12px; top: 10px; width: 12px; height: 17px; background: url("file.leo?f=img/styles/default/arrow.png") left top no-repeat transparent;}
            #hourList .head .name{font-size: 12px; color: #fff; float: left; display: block; padding: 10px; line-height: 18px; font-weight: bold;}
        
        #hourList .body{padding: 10px; position: relative; border-right/*|**/: 1px solid #D5D5D5; border-left/*|**/: 1px solid #D5D5D5;}
        #hourList .body-fluid{position: relative; padding: 0px; border-right/*|**/: 1px solid #D5D5D5; border-left/*|**/: 1px solid #D5D5D5;}
        
            #hourList .messages .item,
            .block.messages .item{border-bottom: 1px solid #E4E8ED; border-top: 1px solid #FFF; position: relative;}
                #hourList .messages .item .image,
                .block.messages .item .image{display: inline-block; width: 60px; padding: 5px 0px 5px 0px; position: absolute; left: 0px; top: 0px;}
                #hourList .messages .item .info,
                .block.messages .item .info{padding: 5px 5px 5px 70px; font-size: 11px;}
                    #hourList .messages .item .info .name,
                    .block.messages .item .info .name{font-size: 11px; color: #005580; font-weight: bold;}
                    #hourList .messages .item .info p,
                    .block.messages .item .info p{margin: 0px; font-size: 11px; color: #333; line-height: 17px;}
                    #hourList .messages .item .info > span,
                    .block.messages .item .info > span{color: #999; font-size: 11px;}            
            #hourList .messages .item:last-child,
            .block.messages .item:last-child{border-bottom: 0px;}            
            .block.messages .item:first-child{border-top: 0px;}            
            #hourList .messages .item:first-child .image,
            .block.messages .item:first-child .image,
            #hourList .messages .item:first-child .info,
            .block.messages .item:first-child .info{padding-top: 0px;}
        #hourList .footer,
        .block .footer{background-color: #F2F2F2; border-top: 1px solid #DAE1E8; padding: 8px 5px 7px; text-align: right;}
        
        #hourList .footer{border-right/*|**/: 1px solid #D5D5D5; border-left/*|**/: 1px solid #D5D5D5; border-bottom/*|**/: 1px solid #D5D5D5;}
        
        #hourList .search{position: relative;}
        #hourList .search input[type="text"],
        #hourList .search input[type="password"], 
        #hourList .search input textarea{width: 100%; font-size: 11px; color: #454545; padding: 7px 7px 5px; border: 1px solid #D7D7D7;
                                        box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;                                                
                                        display: inline-block; background: #FDFDFD; height: 26px; margin: 0px;}
