<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="io.leopard.data.env.LeopardPropertyPlaceholderConfigurer" lazy-init="false" />
	<bean class="io.leopard.data.env.ResolvePlaceholderLeiImpl"/>

	<!-- 
	<bean class="io.leopard.aop.LeopardAopBeanPostProcessor" />
	 -->
	
	<bean class="io.leopard.data4j.pubsub.PubSubBeanPostProcessor" />
	<bean class="io.leopard.data.alldb.AlldbBeanPostProcessor" />
	<bean class="io.leopard.data.AutoResourceBeanPostProcessor" />
	<bean class="io.leopard.jdbc.LeopardBeanFactoryAware" />

</beans>